page-my-cart {
	.content-md{
		color: #060606B3;
	}
	.product_name{
		font-size: 12px;
	}

	.model_name{
		font-size: 8px;
	}
	.pro_price .pro_total{
		font-size: 12px;
		margin: 3px;	
	}
	.minus_btn,.plus_btn{
		height: 30px;
	}
	.sub_text{
		font-size: 8px;	
	}
	.delete_btn{
		padding: 0px;
		color: red;
	}
	.plush_minus_btn{
		padding: 0px;
		text-align: end;
	}
	.add-cart-btn{
		text-align:center;
		color:#ffffff;
	}


}
