page-checkout-step-3 {
.add-cart-btn{
	color:#ffffff;
	background-color: #ED7C4F;
	text-align:center;
}
 
.content-md{
		color: #060606B3;
	}
.pro_price .prod_total .pro_qty{
	font-size: 10px;
}
.prod_total{
	text-align:right;
}

.product_name{
		font-size: 12px;
	}
.model_name{
		font-size: 8px;
	}

}
