page-productbycategory {
	
.card_title{
	margin: 10px;
	font-size:12px;
	color:#31B0D5;
}
.ionic3-star-rating[_ngcontent-c1] .button[_ngcontent-c1] ion-icon[_ngcontent-c1]{
	font-size:20px;
	}
.ionic3-star-rating[_ngcontent-c1] .button[_ngcontent-c1]{
	width:14px;
	}
.product_name{
   	font-size: 12px;
   	color:#060606B3;
   	padding: 0px;
   	}
.model_name{
  	font-size: 10px;
  	color: #060606B3;
  } 	
.rated_user{
	font-size: 10px;
  	color: #060606B3;
}
.rating_star{
	border: 2px solid #ffffff;
	background-color: #388e3c;
	color: #ffffff;
	border-radius: 5px;
	margin: 2px;
	font-size:10px;
	display :inline-block;
	font-weight :500;
	vertical-align: middle;
	padding: 2px 4px 2px 6px;
}
.product_image{
	max-height:100px;
	max-width: 150px;
	padding: 10px;
	margin: auto;
}
.label-md{
	margin: 0px;
}
.main-price{
	text-decoration: line-through;
	color: #30303066;
}  	
.special_price{
	font-size: 12px;
	line-height: normal;
	color: #666;
	font-weight: 500;
}
.wish_list_enable{
	color: #fb1616;
}
.wish_list_disable{
	color: #000;
}
}
