page-checkout-step-1 {
	.uplode_btn_card{
 	 text-align:center;
 	 color:#ffffff;
 	 background-color: #ED7C4F;
 	}
 	.content-md{
		color: #060606B3;
	}
	.card-title-md{
		margin: 10px;
		font-size: 14px;
		color: #ffffff;
		text-align: center;
		background-color: #7ac209;
		padding: 1px;
		border-radius: 10px;
		font-weight: 500;
	}
	.add-cart-btn{
		text-align:center;
		color:#ffffff;
	}

}
